body {
}
h1 {
	color:#800000;
}
#hed4 {
	padding-left: 50px;
}
h4 {
	padding-left: 50px;
	padding-bottom: 40px;
	padding-top: 20px;
}
#table-heading {
	background-color: #800000;
	color:white;
}
#passdownTable {
	background-color:#6b6b6b;
	color:white;
}


