doctype html
html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    | &#x9;&#x9;
    link(rel='stylesheet', href='/Users/Macbook/Documents/GitHub/RTD-Passdown/style/table.css')
  | &#x9;
  body
    h1.row.justify-content-center(style='color:#800000;') RTD PASSDOWN
    | &#x9;&#x9;
    .row.justify-content-center
      table
        tr
          td
            h4 BUSES ON HOLD: 0
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:18px;')
            h4 TOTAL SMA RUNNING: 0
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:18px;')
            h4 TOTAL BRT RUNNING: 0
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:18px;')
            h4 EXPRESS: 0
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td(style='padding:18px;')
            h4 NON-REV: 0
      | &#x9;&#x9;
      table.table.table-dark.text-monospace(style='width:95%;')
        thead
          tr(style='	background-color:#800000; color:white;')
            th BUS #
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th TYPE
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DATE IDENTIFIED
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th NO PART
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th REASON DOWN
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th DESCRIPTION
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            th EDIT/DEL
        | &#x9;&#x9;&#x9;&#x9;
        tr#passdownTable
          td 325761
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td SMA
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td 02/23/2019
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td True
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td Flat tire
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td Tire is flat
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          td
            button.btn.btn-light.btn-sm(type='button') Edit
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            button.btn.btn-light.btn-sm(type='button') Del
        | &#x9;&#x9;&#x9;
        thead
    | &#x9;&#x9;
    form(method='POST', action='/submitBus')
      .row.justify-content-center
        .col-md-1
          input.form-control(type='text', name='inputBus', placeholder='Bus #')
        |     &#x9;&#x9;&#x9;
        .form-group.col-md-2
          select.form-control(type='text', name='inputType')
            option(selected='') Choose Bus Type...
            |         &#x9;&#x9;&#x9;&#x9;
            option SMA
            |         &#x9;&#x9;&#x9;&#x9;
            option BRT
            |         &#x9;&#x9;&#x9;&#x9;
            option NON-REV
            |         &#x9;&#x9;&#x9;&#x9;
            option EXPRESS
        |     &#x9;&#x9;&#x9;
        .col-md-2
          input.form-control(type='text', name='inputDate', placeholder='Date 12/20/95')
        |    &#x9;&#x9;&#x9;
        |     &#x9;&#x9;&#x9;
        .form-group.col-md-2
          select.form-control(type='text', name='inputNoPart')
            option(selected='') No Part...
            |         &#x9;&#x9;&#x9;&#x9;
            option True
            |         &#x9;&#x9;&#x9;&#x9;
            option False
        |     &#x9;&#x9;&#x9;
        .col-md-1
          input.form-control(type='text', name='inputReason', placeholder='Reason')
        |     &#x9;&#x9;&#x9;
        .col-md-1
          input.form-control(type='text', name='inputDesc', placeholder='Desc')
        |    &#x9;&#x9;&#x9;&#x9;
        .col-md-1
          button.btn.btn-dark(type='submit') Add
        | &#x9;&#x9;
        form
          script(type='text/javascript', src='/Users/Macbook/Documents/GitHub/RTD-Passdown/index.js')